<main>
    <h2>Cart</h2>
    <section>
      <div class="container" style="padding-right: 1rem;">

      <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-8 item-center"   id="realTimeProducts">
        <!-- Aquí se renderizarán los productos en tiempo real -->
      </div>
    </div>
    </section>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/scripts/carts.js"></script>
</main>

